<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginSessionServlet</display-name>
    <servlet-name>LoginSessionServlet</servlet-name>
    <servlet-class>Tuan1.controllers.LoginSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSessionServlet</servlet-name>
    <url-pattern>/LoginSessionServlet</url-pattern>
  </servlet-mapping>
  <display-name>Tuan1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginCookieServlet</servlet-name>
    <servlet-class>Tuan1.controllers.LoginCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloCookieServlet</servlet-name>
    <servlet-class>Tuan1.controllers.HelloCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCookieServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloCookieServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutSessionServlet</display-name>
    <servlet-name>LogoutSessionServlet</servlet-name>
    <servlet-class>Tuan1.controllers.LogoutSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutSessionServlet</servlet-name>
    <url-pattern>/LogoutSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileSessionServlet</display-name>
    <servlet-name>ProfileSessionServlet</servlet-name>
    <servlet-class>Tuan1.controllers.ProfileSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileSessionServlet</servlet-name>
    <url-pattern>/ProfileSessionServlet</url-pattern>
  </servlet-mapping>
</web-app>